<main id="work-experience">
  <div class="container">
    <div class="timeline-wrap">
      <div class="row">
        <div class="col-12 col-md-5">
          <header class="page-header">
            <h2>7 years of <span>Experience</span></h2>
          </header>
        </div>
        <div class="col-12 col-md-7">
          <div class="timeline-event">
            <span class="event-duration">2017-Present</span>
            <div class="event-details">
              <h3>Front-end Developer</h3>
              <strong><a href="https://www.firmwise.net/">FirmWise</a></strong>
              <p>FirmWise provides web services to law firms and as a front-end developer its my responsibility to develop new websites for clients as well as maintain and update current websites as per clients needs.</p>
            </div>
          </div>

          <div class="timeline-event">
            <span class="event-duration">2016-2018</span>
            <div class="event-details">
              <h3>Co-Founder / CTO</h3>
              <strong>StoreHunch</strong>
              <p>As founder/CTO of StoreHunch my responsibility was to develop the platform from the ground up. I was solely responsible
                for backend development with nodejs and I lead the front end team developing Angular2+ web apps. My key experiences were
                to managing large code bases, navigating team dynamics and ensuring reliability of services to clients.</p>
            </div>
          </div>

          <div class="timeline-event">
            <span class="event-duration">2013-Present</span>
            <div class="event-details">
              <h3>Co-founder / Lead Front End Developer</h3>
              <strong><a href="https://xvelopers.com/">Xvelopers</a></strong>
              <p>Xvelopers is a web design company, selling products on themeforest.net . I started Xvelopers with my best friend in
                sophomore of college. It helped pay tuition for both of us and still brings a good amount of side capital to this day</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
