<main id="work-experience">
  <div class="container">
    <div class="timeline-wrap">
      <div class="row">
        <div class="col-12 col-md-5">
          <header class="page-header">
            <h2>7 years of <span>Experience</span></h2>
          </header>
        </div>
        <div class="col-12 col-md-7">
          <div class="timeline-event">
            <span class="event-duration">2017-Present</span>
            <div class="event-details">
              <h3>Full Stack Developer</h3>
              <strong>Company / Employer Name</strong>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>

          <div class="timeline-event">
            <span class="event-duration">2016-2018</span>
            <div class="event-details">
              <h3>Team Lead</h3>
              <strong>Company / Employer Name</strong>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
          </div>

          <div class="timeline-event">
            <span class="event-duration">2013-2016</span>
            <div class="event-details">
              <h3>Front End Developer</h3>
              <strong>Company / Employer Name</strong>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
