
<main id="home">
  <div class="container">
    <div class="row full-screen">
      <div class="col-12 col-md-8 align-self-end">
        <div class="profile-card">
          <figure><img src="../../assets/img/shahbaz.png" alt="shahbaz"></figure>
          <h3>Muhammad Shahbaz Manzoor</h3>
          <h1>Full Stack <span>Developer</span></h1>
        </div>
      </div>
      <div class="col-12 col-md-4 ">
        <div class="quick-overview">
          <p>Write something nice here...<br>May be your achievements <br>or short bio.</p>
        </div>
        <div class="testimonials">
          <div>
            <q>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</q>
            <cite><a rel="nofollow" target="_blank"  href="https://shahbazm.com/">xyz.com</a></cite>
          </div>
          <div>
            <q>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</q>
            <cite><a rel="nofollow" target="_blank"  href="https://shahbazm.com/">abc.com</a></cite>
          </div>
          <div>
            <q>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</q>
            <cite>Jhon Doe</cite>
          </div>
        </div>
        <a class="segment-link stick-bottom" href="/experience">
          <span>02</span>
          Experience
          <img src="../../assets/img/arrow-right-long.png" alt="->">
        </a>
      </div>
    </div>
  </div>
</main>
