<header class="doc-header clearfix">
  <div class="container">
    <div class="logo-title"><a href="/" data-letters="M. Shahbaz">Shahbaz</a></div>
    <nav>
      <ul>
        <!--<li><a routerLink="/" routerLinkActive="active">Home</a></li>
       <li><a routerLink="/about" routerLinkActive="active">About</a></li>
       <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
      <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
       <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>-->
      </ul>
    </nav>
  </div>
</header>

<main id="home">
  <div class="container">
    <div class="row full-screen">
      <div class="col-12 col-md-8 align-self-end">
        <div class="profile-card">
          <figure><img src="../../assets/img/shahbaz.png" alt="shahbaz"></figure>
          <h3>Muhammad Shahbaz Manzoor</h3>
          <h1>Full Stack <span>Developer</span></h1>
        </div>
      </div>
      <div class="col-12 col-md-4 ">
        <div class="quick-overview">
          <p>7 years of professional experience. <br>500+ projects completed. <br>60+ happy returning clients.</p>
        </div>
        <div class="testimonials">
          <q>Shahbaz was great to work with. He handled everything quickly and efficiently. </q>
          <q>If you want someone to really looked after your development needs, then use Shahbaz! He really cares about his customers and goes the extra mile! We will be using his services again and again, as we already have!!</q>
          <q>Mohammad is a fantastic developer. His development and communication skills make it a pleasure to work with him. Definitely recommended, and will surely work with him again.</q>
          <q>Muhammad goes above & beyond to help me with my projects, always completing them in such a quick time frame, and the result always exceeds even my highest expectations of what can be done. Definitely recommended. </q>
          <q>Awesome Guy, genius & very knowledgeable. An all rounder who knows development, coding, designing, word press, linux, ubuntu, api management,  seo analytics and.....  you will not be disappointed with him... he worked 20 hours daily with us to meet our deadlines.</q>
          <q>My first Project with M Shahbaz Manzoor - he was professional, stand behind the time frame , willing to solve problem quickly, and available for me. We will move to the next Project together ! </q>
          <q>The job was done exactly how I wanted and in such a short amount of time, I couldn't be happier - thanks! :) </q>
          <q>M Shahbaz Manzoor was outstanding. We will be using him again. </q>
          <q>Shahbaz built out Unbounce landing pages for me (PSD to Unbounce), and was an amazing contractor to work with. He was reliable, reachable, prompt, followed directions, and produced high quality work. There were times when I was in a bind and needed a quick turnaround on projects, and he always delivered. It’s rare to find someone like him - highly recommend!! </q>
          <q>5 stars top notch quality!! </q>
          <q>As always, perfect job, thank you Shahbaz.</q>
          <q>Shahbaz has been amazing to work with. Would be more then happy to work with again. Intend to use his excellent skills again in the future.</q>
          <q>After years of hunting for an experienced, easy to get along with, trustworthy development team... I found one. I keep to my word and pay on time, hope fully if there any changes from the client you will fix them as part of our deal.</q>
          <q>Hardworking, detail-oriented, and get the job done in a timely manner. </q>
          <q>Simply amazing!</q>
          <q>Thanks my buddy! We'll work again together on our next prj!</q>
          <q>Great coder, awesome results. A+++</q>
          <q>As always, a good work.</q>
          <q>Good quality, fast, creative... Shahbaz is the best in his category!</q>
        </div>
        <!--<a class="segment-link stick-bottom" href="/experience">
          <span>02</span>
          Experience
          <img src="../../assets/img/arrow-right-long.png" alt="->">
        </a>-->
      </div>
    </div>
  </div>
</main>
